<main>
<div class="nav-bar">

<h1><img src="public/assets/images/localspot-02.png" id="logo"> LocalSpot</h1>
<h6><a href="/favorites">Favorite Spots</a></h6>
</div>
<div class="container">
{{#each spots}}
<div class="row">
<div class="col s12 spot-div">

<h3>{{this.name}}</h3>
<p class="div-desc">{{this.alias}}</p>
<hr>
<div class="row">
<div class="col s12 m3">

    <img src= {{this.image}} class="place-holder-pic">

<!--CHANGE TO IMG TAG LATER WITH CLASS "yelp-pic".-->
</div>

<div class="col s12 m8">
<h5 class="spot-name">{{this}}</h5>
<p class="spot-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error
    voluptatem necessitatibus est beatae totam. Voluptatem in amet velit placeat facilis alias
    odio! Error dolores saepe voluptatum doloribus excepturi, similique blanditiis?</p>
<p><span class="spot-address">{{this.address}}</span> || Yelp Rating: <span class="rating">{{this.rating}}</span> Stars</p>
<button class="add-favorite" data-id="">add favorite</button>
</div>

</div>
<hr>

</div>
</div>
{{/each}}

</main>
<footer>
<p>copyright PCC</p>
</footer>